app-root{
  font-family: 'Zilla Slab', serif;
}
agm-map {
  height: 800px;
  width:100%;
}

ul{
  list-style: none;
  padding:10px;
}

.tours ul li{
  cursor: pointer;
}

.wrap-content{
  display:flex;
  justify-content: center;
}

.tours, .waypoints, .tour-detail{
  margin:0 40px;
}

h1{
  font-family: 'Open Sans', serif;
}